.home_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  background: #3d2b99;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: MS Outlook;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e5e5e5;
}
.home_header_info_name {
  letter-spacing: 0.18em;
}
.home_header_btn {
  width: 184px;
  height: 62px;
  background: #506ac7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
  line-height: 37px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #e5e5e5;
}
.home_header_info_icon_telegram {
  width: 151.58px;
  height: 84.36px;
}
.home_header_info_icon {
  width: 64px;
  height: 64px;
}
.home_header_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
